

/* =========================================
   Password Hero (Same as Dashboard)
========================================= */

.generator-section{
    padding-bottom:80px;
}

.generator-card{
    max-width:700px;
    margin:auto;
    background:#111C2E;
    padding:35px;
    border-radius:20px;
}

.password-display{
    display:flex;
    gap:10px;
}

.password-display input{
    flex:1;
    background:#08111F;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
}

.password-display button{
    width:60px;
    border:none;
    border-radius:10px;
    background:#1EA7FF;
    color:white;
}

.strength-container{
    margin-top:30px;
}

.progress{
    height:12px;
    background:#1A2637;
    border-radius:20px;
}

.progress-bar{
    transition:0.4s;
}
.crack-time{
    margin-top:25px;
    padding:15px;
    background:#08111F;
    border-radius:10px;
}

.crack-time h6{
    color:#1EA7FF;
}

.crack-time p{
    margin:0;
    font-size:18px;
    font-weight:600;
}

/* =========================================
   Password Tabs
========================================= */

#password-tabs{

    margin-top:50px;

}

#password-tabs .nav-link{

    background:#111C2E;

    color:#d1d5db;

    border:none;

    border-radius:50px;

    padding:14px 30px;

    margin:0 10px;

    font-size:17px;

    font-weight:600;

    transition:.35s;

}

/* Hover */

#password-tabs .nav-link:hover{

    background:#18253d;

    color:#ffffff;

    transform:translateY(-3px);

}

/* Active */

#password-tabs .nav-link.active{

    background:linear-gradient(135deg,#1EA7FF,#3B82F6);

    color:#ffffff !important;

    font-weight:700;

    border:none;

    box-shadow:0 0 20px rgba(30,167,255,.35);

}

#password-tabs .nav-link.active i{

    color:#ffffff !important;

}

#password-tabs .nav-link.active span{

    color:#ffffff !important;

}

#password-tabs .nav-link:focus{

    color:#ffffff !important;

}

#password-tabs .nav-link:visited{

    color:#ffffff !important;

}